<section>
  <div class="container contentBox">
    <div class="row">
      <div class="col-4 sidebar flex-column justify-content-center">
        <div class="sidebar-link">
          New Post
        </div>
        <div class="sidebar-link">
          Rails is Omakase
        </div>
        <div class="sidebar-link">
          New Post
        </div>
      </div>
      <div class="col-8 content">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</section>